aliyun-python-sdk-core==2.13.26
aliyun-python-sdk-core-v3==2.13.11
aliyun-python-sdk-kms==2.11.0
asgiref==3.2.10
astroid==2.4.2
beautifulsoup4==4.9.3
certifi==2019.11.28
chardet==3.0.4
click==7.1.2
colorama==0.4.3
crcmod==1.7
Django==3.1.2
Flask==1.1.2
Flask-Cors==3.0.9
Flask-Login==0.5.0
html5lib==1.1
idna==2.8
isort==5.5.4
itsdangerous==1.1.0
Jinja2==2.11.2
jmespath==0.10.0
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
numpy==1.19.2
oss2==2.13.0
Pillow==7.2.0
pycryptodome==3.9.8
pylint==2.6.0
pytz==2019.3
qrcode==6.1
requests==2.22.0
six==1.15.0
soupsieve==2.0.1
sqlparse==0.3.0
toml==0.10.1
urllib3==1.25.7
webencodings==0.5.1
Werkzeug==1.0.1
wrapt==1.12.1
